<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color:rgb(0,58,99);">
{% include 'header.html' %}
<div class="container mt-1">
    <div class="row">
        <div class="card" style="border:2px solid;margin:auto;width:50%;padding:10px;width:400px;">
      <div class="card-body">
        <h2 class="card-title text-center" style="padding-bottom:30px;">Complete Registration</h2>
          <p>First completed the registration</p>
          <form action="{% url 'login_page' %}" method="POST" style="font-size:25px;">
              {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="uemail" required>

          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="upassword" required>
          </div>
            <h5 style="color:red;padding-top:10px;padding-bottom:10px;">
                {% if error %}
                    {{ error }}
                {% endif %}</h5>
          <button type="submit" class="btn btn-primary btn-lg" style="width:100px;margin-left:240px;">Login</button>
        </form>

      </div>
    </div>
            <div class="card" style="border:2px solid;margin:auto;width:50%;padding:10px;width:400px;">
      <div class="card-body">
        <h2 class="card-title text-center" style="padding-bottom:30px;">Already Completed</h2>
          <p>Download Application form and Hall ticket</p>
          <form action="{% url 'dashboard' %}" method="POST" style="font-size:25px;">
              {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="uuemail" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="uupassword" required>
          </div>
            <h5 style="color:red;padding-top:10px;padding-bottom:10px;">
                {% if errormessage %}
                    {{ errormessage }}
                {% endif %}</h5>
          <button type="submit" class="btn btn-primary btn-lg" style="width:100px;margin-left:240px;">Login</button>
        </form>

      </div>
    </div>
  </div>
    </div>
</div>
<br>
<br><br><br>
{% include 'footer.html' %}

</body>
</html>